<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://winkeljo.github.io/piggame/PigGame.ipa</string>
		<key>displayImageURL</key>
		<string>https://winkeljo.github.io/piggame/images/PigGameIcon58.png</string>
		<key>fullSizeImageURL</key>
		<string>https://winkeljo.github.io/piggame/images/PigGameIcon80.png</string>
	</dict>
	<key>method</key>
	<string>ad-hoc</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.winkeljann-programming.PigGame</key>
		<string>PigGame-AdHoc-Profile</string>
	</dict>
	<key>signingCertificate</key>
	<string>87A8BA5915E93B0FB3716E23A357BDF310BDA435</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>6VZ36AT3CP</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
